doctype html
html(ng-app='chimichanga')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/slate.bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      div(ng-view)
        block content
      
      footer
        .row
          .col-xs-12
            small &copy; Michael Thompson 2016

    script(src='/angular/angular.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')