doctype html
html(ng-app='app')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    
    //- inject-vendor:css 
    link(rel='stylesheet', href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
    //-<link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    link(rel='stylesheet', href="/bower_components/toastr/toastr.css")
    //- endinject 

    //- inject:css
    //- <link href="/client/content/customtheme.css" rel="stylesheet">
    //- <link href="/client/content/styles.css" rel="stylesheet" />
    //- endinject 
  body
    .container
      div(ng-view)
        block content
      
      footer
        .row
          .col-xs-12
            small &copy; Michael Thompson 2016