doctype html
html(ng-app='app')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    
    //- inject-vendor:css 
    link(rel='stylesheet', href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
    //-<link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    link(rel='stylesheet', href="/bower_components/toastr/toastr.css")
    //- endinject 

    //- inject:css
    //- <link href="/client/content/customtheme.css" rel="stylesheet">
    //- <link href="/client/content/styles.css" rel="stylesheet" />
    //- endinject 
  body
    .container
      div(ng-view)
        block content
      
      footer
        .row
          .col-xs-12
            small &copy; Michael Thompson 2016

    //- inject-vendor:js 
    script(src="/bower_components/jquery/dist/jquery.js")
    script(src="/bower_components/angular/angular.js")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.js")
    script(src="/bower_components/toastr/toastr.js")
    //- endinject 

    //- inject:js 
    //- Bootstrapping 
    script(src="/client/app/app.module.js")

    //- Reusable Blocks/Modules 
    script(src="/client/app/blocks/exception/exception.module.js")
    script(src="/client/app/blocks/exception/exception-handler.provider.js")
    script(src="/client/app/blocks/exception/exception.js")
    script(src="/client/app/blocks/logger/logger.module.js")
    script(src="/client/app/blocks/logger/logger.js")
    script(src="/client/app/blocks/router/router.module.js")
    script(src="/client/app/blocks/router/routehelper.js")

    //- core module 
    script(src="/client/app/core/core.module.js")
    script(src="/client/app/core/constants.js")
    script(src="/client/app/core/config.js")

    //- endinject 